In [5]:
for left in range(7):
    for right in range(left, 7):
        print("[" + str(left) + "|" + str(right) + "]" , end = " ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [7]:
answer = " Yes  "
if answer.lower().strip() == 'yes':
    print("The user answered yes")
else:
    print("Wrong user input")

The user answered yes

In [2]:
answer = "   Yes     "
answer.lstrip()

'Yes     '

In [3]:
answer.rstrip()

'   Yes'

In [4]:
"The no. of times e occured in this sentence is : ".count("e")

7

In [5]:
"Forest".endswith("rest")

True

In [6]:
"Forest".isnumeric()

False

In [7]:
"12345".isnumeric()

True

In [8]:
int("12345") + int("54321")

66666

In [10]:
" ".join(["This", "is", "a", "phrase", "joined", "by", "spaces"])

'This is a phrase joined by spaces'

In [11]:
"...".join(["This", "is", "a", "phrase", "joined", "by", "three", "dots"])

'This...is...a...phrase...joined...by...three...dots'

In [12]:
"This is another example".split()

['This', 'is', 'another', 'example']

In [15]:
"This,example,will,be,splitted,by,comma,separator".split(",")

['This', 'example', 'will', 'be', 'splitted', 'by', 'comma', 'separator']

In [17]:
# Using format method
name = "Manny"
number = len(name) * 3
print("Hello, {} your lucky number is : {}".format(name, number))

Hello, Manny your lucky number is : 15

In [19]:
print("Your lucky number is {number}, {name}.".format(name = name, number = len(name)*3))

Your lucky number is 15, Manny.

In [1]:
name = "Mohan"
class_ = "I.Sc."
Subject = "Math"
print("{} is studying in {} and subject is {}".format(name, class_, Subject))

Mohan is studying in I.Sc. and subject is Math

In [6]:
name = "Raju"
marks = 30
print("{} obtained {:>0.2f} marks and failed the examination".format(name, marks))

Raju obtained 30.00 marks and failed the examination